name: make lint

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: make pakeges dependencies
        run: |
        python -m pip install --upgrade pip
        pip install poetry
        package-install

      - name: Hexlet make lint
        run: make lint

